includes:
    - vendor/phpstan/phpstan-doctrine/extension.neon
    - vendor/phpstan/phpstan-symfony/extension.neon

parameters:
    symfony:
        containerXmlPath: tests/Application/var/cache/test/Tests_ThreeBRS_SyliusShipmentExportPlugin_KernelTestDebugContainer.xml

    excludePaths:
        - 'tests/'

    ignoreErrors:
        - identifier: missingType.generics
        - identifier: function.alreadyNarrowedType
